$primary: #18ff6d;
$primary-hover: #02b360;

// Text
$text-light: #cd1818;

// Background
$background-dark: #0b5a0e;
$background-grey: #1c9565;
$background-dark-web: #9db5cc;

// Border
$border-grey: #e30e0e;

// Status
$success: #75d210;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1df256;
$facebook: #3b9847;
$linkedin: #00b515;